#all-projects #loading-project,
#all-projects #create-new{
    display: none;
}

/*Magic to make the height of the element depend on the width of the element*/
#all-projects .project-thumbnail{
    max-height: 230px;
    min-height: 150px;

    width: auto;
    height: 100%;
}

#all-projects .project-thumbnail img{
    object-fit: cover;
    max-height: 210px;


    width: auto;
    height: 100%;
}

#all-projects .info-bottom{
    position: absolute;
    bottom: 28px;
    left: 25px;
}

#all-projects .info-top{
    position: absolute;
    top: 8px;
    left: 25px;
}


#all-projects .info{
    color: white;
    z-index: 1000;
    text-shadow:    1px 0px black,
    0px 1px black,
    -1px 0px black,
    0px -1px black,
    1px 1px 1px black,
    1px -1px black,
    -1px 1px black,
    -1px -1px black;
}

#all-projects .editButton{
    position: absolute;
    bottom: 35px;
    right: 32px;
    padding: 6px 30px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 2px;
    box-shadow: 1px 1px white, -1px -1px white;
}
#all-projects .editButton:hover{
    text-decoration: none;
    box-shadow: 1px 1px #aaa, -1px -1px #aaa;
    color: #bbb;
}
