#login-signup{
    color: #444;
}

#login-signup .row #signup{
    min-height: 350px;
    height: 350px;
}

@media (max-width: 981px){
    #login-signup #signup{
        padding-top: 10px;
        border-top: 1px #c0c0c0 solid;
    }
    #login-signup #login{
        padding-bottom: 30px;
    }
}
@media (min-width: 982px){
    #login-signup #signup{
        border-left: solid #bcbcbc 1px;
    }
}

#login-signup h2{
    padding-bottom: 20px;
}
#login-signup h4{
    margin-bottom: 3px;
}

#login-signup #login-error,
#login-signup #signup-error{
    color: red;
    text-align: left;

}


#login-loading,
#signup-loading{
    display: none;
}
