/*
A file for placing general styles for the projectportfolio.io website
*/

.button-link{
    cursor: pointer;
    font-size: 15px;
}

button{
    background-color: #F0F0F0;
}

html, body{/*TODO: move this to the navbar*/
    height: 100%;
}
