
.button-link{
    cursor: pointer;
    font-size: 15px;
}

button{
    background-color: #F0F0F0;
}

html, body{/*TODO: move this to the navbar*/
    height: 100%;
}

#content-area p,
#content-area img{
    margin-bottom: 10px;
}

/*login.php
verify.php*/
.margin-left-30{
    margin-left: 30px;
}

input[type="text"].standard-input,
input[type="password"].standard-input{
    margin-bottom: 10px;
    border: #999 1px solid;
    width: 190px;
    height: 25px;
}

button.simple-button{
    color: white;
    background-color: black;
    padding: 4px 10px;
    margin-top: 3px;
    border: none;
}
button.simple-button:hover{
    background-color: #333;
}

/*editor.php*/
.padding-top-10{
    padding-top: 10px;
}
.width-100{
    width: 100%;
}

/*blogs.php
projects.php*/
.header-button{
    float:right;
    margin-top: 26px;
}

.card-date{
    float:right;
    font-size:12px;
}
.card-edit-button{
    position: absolute;
    bottom: 28px;
    right: 25px;
    padding: 10px 35px;
    border: none;
    background-color: #004488;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000;
}
