/*
A file for placing general styles for the projectportfolio.io website
*/

.button-link{
    cursor: pointer;
    font-size: 15px;
}

button{
    background-color: #F0F0F0;
}

html, body{/*TODO: move this to the navbar*/
    height: 100%;
}

#content-area p,
#content-area img{
    margin-bottom: 10px;
}

#stylepad .titlebar,
#addpad .titlebar,
#blogpad .titlebar{
    /*color: #48c;*/
}
/*#337ab7  <- the regular blue*/
/*#539ad7  <- lighter variant of the above*/

/**/
